<div class="container">
  <p-card>
    <div class="d-flex justify-content-center align-items-center">
      <div class="content">
        <div class="image">
          <img src="../../../../../assets/images/pending.png" />
        </div>
        <div class="text">
          <h2>Pending...</h2>
          <p>
            Your activation request has been sent successfully.<br />
            It may take some time to be accepted or declined.
          </p>
        </div>
      </div>
    </div>
  </p-card>
</div>
<p-toast></p-toast>
