/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
ul {
  margin: 0px !important;
  padding: 0px;
  padding-left: 0px !important;
}
ul li {
  list-style: none;
}

:root {
  --primary-color: #863d87;
  --error: rgb(234, 11, 11);
}

body {
  background-color: #f7fafc !important;
}
a {
  text-decoration: none !important;
  color: #000 !important;
}
.error {
  color: var(--error);
}

.heading {
  color: #000 !important;
  font-weight: 600;
}

.policy .p-checkbox .p-checkbox-box {
  width: 15px;
  height: 15px;
}

.policy .p-checkbox .p-checkbox-box .p-checkbox-icon {
  font-size: 8px;
}
p-password {
  border: none !important;
}
p-password.p-inputtext {
  width: 100% !important;
  padding: 0.5rem 0.25rem !important;
}
.p-password {
  width: 100%;
}
.p-password input {
  width: 100%;
  padding: 5px;
}
.top-navbar .p-button-label {
  font-size: 12px;
}
.top-navbar .p-button .p-button-icon-left {
  font-size: 12px;
}

.top-navbar .p-inputtext {
  padding: 0px;
  border-radius: 10px;
}
.p-tooltip {
  font-size: 12px;
  padding: 0px;
}
.p-tooltip-text {
  font-size: 14px !important;
  padding: 5px !important;
}
.p-inputswitch {
  width: 32px !important;
  height: 19px !important;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
  transform: translateX(10px) !important;
}
.p-inputswitch-slider:before {
  top: 62% !important;
}

.p-inputswitch .p-inputswitch-slider:before {
  width: 14px !important;
  height: 14px !important;
}

.bottom-nav .p-button-label {
  flex: 1 1 auto;
  font-size: 14px !important;
  color: #000 !important;
  font-weight: 100 !important;
}
.p-divider.p-divider-horizontal {
  margin: 10px 0px !important;
}
.profile p-button button {
  padding: 6px 12px !important;
}

.p-overlaypanel:after {
  margin-left: -24px !important;
}
.p-overlaypanel:before {
  display: none;
}
.profile .p-checkbox .p-checkbox-box {
  width: 18px;
  height: 18px;
}
.keys input {
  border-radius: 0px !important;
}
.keys p-password {
  width: 90% !important;
}
.keys .p-disabled {
  color: #000;
}
.p-dropdown {
  width: 100% !important;
}
.visa-list .p-panel .p-panel-content {
  display: none !important;
}

.checkout .p-panel .p-panel-header {
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  padding: 10px !important;
}

.checkout p-card {
  width: 100% !important;
}

.p-calendar {
  width: 100%;
}
.payments-list .p-fluid .p-inputnumber .p-inputnumber-input {
  padding: 3px !important;
}
.payments-list .p-card .p-card-body {
  padding: 0px !important;
}
.payments-list .p-card .p-card-content {
  padding: 0px !important;
}
.payments-list .p-tabview .p-tabview-panels {
  padding: 0px !important;
}
.customers-list .p-fluid .p-inputnumber .p-inputnumber-input {
  padding: 3px !important;
}
.customers-list .p-card .p-card-body {
  padding: 0px !important;
}
.customers-list .p-card .p-card-content {
  padding: 0px !important;
}
.customers-list .p-tabview .p-tabview-panels {
  padding: 0px !important;
}
.payment .p-card .p-card-content {
  padding: 0px;
}
.payment h5 {
  color: #000 !important;
}
.p-column-filter-buttonbar {
  display: none !important;
}
.webhook p-password {
  width: 55% !important;
}
.webhook .p-input-icon-right > .p-inputtext {
  border-radius: 0px !important;
  color: #000;
}
