<div class="container">
  <div class="content">
    <div>
      <div class="card">
        <div class="logo-container">
          <img src="../../assets/images/logo.png" />
        </div>
        <h2 class="align-center">Reset your password</h2>
        <p>Enter a new password below.</p>

        <form [formGroup]="resetPasswordForm" (ngSubmit)="forgotPassword()">
          <div class="input-container mt-3">
            <label for="password">Password</label>
            <p-password
              id="password"
              type="password"
              pInputText
              formControlName="newPassword"
              [toggleMask]="true"
              (onBlur)="checkPassword()"
            ></p-password>
          </div>
          <small
            class="p-1 error"
            *ngIf="
              passwordCtr.invalid &&
              (passwordCtr.dirty || passwordCtr.touched) &&
              !passwordError
            "
          >
            Password is required
          </small>
          <small class="d-flex justify-content-end p-2" *ngIf="verifyLoading">
            <div class="lds-ring">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            Verifying password
          </small>
          <small class="p-1 error" *ngIf="passwordError">
            {{ passwordError }}
          </small>
          <div class="btn-container mt-3">
            <button
              pButton
              type="submit"
              label="Continue"
              class="w-100"
              [loading]="loading"
              [disabled]="
                resetPasswordForm.invalid || verifyLoading || passwordError
              "
            ></button>
          </div>
        </form>
        <div class="sign-in mt-2">
          <a routerLink="/signin">Return to sign in</a>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
