.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  margin-bottom: 20px;
  text-align: center;
}
.content {
  width: 40%;
}

.logo-container img {
  width: 100px;
}
.card {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card p {
  font-size: 14px;
  color: gray;
}

.input-container {
  display: flex;
  flex-direction: column;
}
.input-container input {
  border-radius: 5px;
  padding: 5px;
}
.input-container label {
  font-weight: 600;
  font-size: 14px;
}
.sign-in {
  text-align: center;
}
.sign-in a {
  color: var(--primary-color);
}
.lds-ring {
  display: inline-block;
  position: relative;
  left: -35px;
  top: -8px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  margin: 8px;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1399.98px) {
  .form-container .card {
    width: 100%;
  }
}
@media (max-width: 1199.98px) {
  .form-container .card {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .card {
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .card {
    width: 100%;
  }
}
