<div class="container p-2 top-navbar">
  <div class="row">
    <div class="col-6">
      <a>
        <span>Activate Payment</span>
        <i class="pi pi-arrow-right"></i>
      </a>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <div
        class="ms-4 notification"
        pTooltip="Notifications"
        tooltipPosition="bottom"
      >
        <i class="pi pi-bell"></i>
      </div>
      <div class="ms-4 settings" pTooltip="Settings" tooltipPosition="bottom">
        <i class="pi pi-cog"></i>
      </div>
      <div class="ms-4 user" pTooltip="Profile" tooltipPosition="bottom">
        <i class="pi pi-user"></i>
      </div>
    </div>
  </div>
</div>
