.top-navbar {
  background-color: #f6f8fa;
  font-size: 14px;
  border-bottom: 1px solid #dbdfe2;
}
.top-navbar .right {
  display: flex;
  justify-content: end;
}

.top-navbar i {
  color: #565c6b;
  font-weight: 500;
  cursor: pointer;
}
.top-navbar button {
  padding: 4px 12px;
  padding-bottom: 2px;
  display: flex;
  align-items: center;
}
.top-navbar .help a {
  font-weight: 600;
  color: #565c6b;
  font-size: 14px;
}
.notification {
  color: #565c6b;
}
.top-navbar a {
  background-color: #f2ebff;
  padding: 5px 14px;
  border-radius: 21px;
  font-size: 13px;
  color: var(--primary-color);
  font-weight: 500;
}

.top-navbar a span {
  margin-inline-end: 5px;
}
.top-navbar a i {
  color: var(--primary-color);
  font-size: 12px;
}

.bottom-nav {
  font-size: 14px;
  border-bottom: 1px solid #dfe2e4;
}

.links li a.active {
  background-color: var(--primary-500);
  padding: 10px 15px;
  border-radius: 23px;
  color: #fff;
}
.links li a:active {
  padding: 10px 15px;
  border-radius: 23px;
  color: #000;
}
.profile-overlay {
  font-size: 14px;
}
.profile-overlay a {
  color: var(--primary-color);
}
