<div class="container payment mt-3">
  <p-card>
    <app-loading *ngIf="loading"></app-loading>

    <div *ngIf="payment">
      <div class="">
        <h6>
          <i class="pi pi-money-bill"></i>
          Payment
        </h6>
        <div class="d-flex align-items-center">
          <h1>
            {{ payment?.totalAmount | currency: payment?.currency }}
          </h1>
          <span class="ms-2">
            <span *ngIf="payment?.status == 'succeeded'" class="succeeded">
              <i class="pi pi-check me-1" style="font-size: 10px"></i>
              {{ payment.status }}
            </span>
            <span *ngIf="payment?.status == 'failed'" class="failed">
              <i class="pi pi-times me-1" style="font-size: 10px"></i>
              {{ payment.status }}
            </span>
            <span *ngIf="payment?.status == 'incomplete'" class="incomplete">
              <i class="pi pi-times me-1" style="font-size: 10px"></i>
              {{ payment.status }}
            </span>
          </span>
        </div>
      </div>
      <p-divider> </p-divider>
      <div class="row">
        <div class="col-4 mt-4">Date</div>
        <div class="col-8 mt-4">{{ payment?.createdAt | date }}</div>
        <div class="col-4 mt-4">Customer Reference ID</div>
        <div class="col-8 mt-4">
          <a
            style="color: #495057"
            routerLink="/customer/{{ payment.clientReferenceId }}"
            >{{ payment?.clientReferenceId }}</a
          >
        </div>
        <div class="col-4 mt-4">Payment Method</div>
        <div class="col-8 mt-4">
          <img
            *ngIf="payment.cardType == 'Visa credit card'"
            width="33px"
            src="../../../../../assets/images/visa.png"
          />
          <img
            *ngIf="payment.cardType == 'Mastercard credit card'"
            width="33px"
            src="../../../../../assets/images/master.png"
          />
          ***********{{ payment?.cardToken | slice: -4 }}
        </div>
        <div class="col-4 mt-4">Client Email</div>
        <div class="col-8 mt-4">{{ payment?.clientEmail }}</div>
        <div class="col-4 mt-4">Description</div>
        <div class="col-8 mt-4">{{ payment?.description }}</div>
      </div>

      <p-divider></p-divider>
      <div>
        <h5 style="font-weight: 800">Checkout summary</h5>
      </div>
      <ul class="mt-4">
        <li class="item" *ngFor="let item of payment.Items">
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <div class="me-2" *ngIf="item?.image">
                <p-avatar size="xlarge" [image]="item.image"></p-avatar>
              </div>
              <div>
                <h6>
                  {{ item.name | titlecase }}
                  <span class="main">(</span>
                  {{ item.quantity }}
                  <span class="main">)</span>
                </h6>
                <p *ngIf="item.description">
                  {{ item.description }}
                </p>
              </div>
            </div>
            <h6>{{ item?.amount | currency: payment?.currency }}</h6>
          </div>
        </li>
      </ul>
    </div>

    <div>
      <app-error [msg]="'Payment Not Found'" *ngIf="!payment"></app-error>
    </div>
  </p-card>
</div>
