<div class="container mt-3 mb-4">
  <p-card>
    <app-loading *ngIf="loading"></app-loading>
    <app-create-webhook *ngIf="!webhook"></app-create-webhook>

    <div *ngIf="webhook">
      <p-header>
        <h1 style="color: #000; font-weight: 700" class="">Webhook</h1>
      </p-header>
      <div class="mt-3">
        <div class="d-flex justify-content-between align-items-center">
          <h6 style="font-weight: 700">Hosted endpoint</h6>
          <button
            pButton
            pRipple
            type="button"
            label="Delete webhook"
            class="p-button-outlined p-button-danger"
            [icon]="'pi pi-trash'"
          ></button>
        </div>

        <div class="row">
          <div class="col-4 mt-4">URL</div>
          <div class="col-8 mt-4">
            <a href="{{ webhook.url }}">{{ webhook.url }}</a>
          </div>
          <div class="col-4 mt-4">Status</div>
          <div class="col-8 mt-4">
            <span *ngIf="webhook.status == 'Active'" class="active">
              <i class="pi pi-check me-2" style="font-size: 10px"></i>
              {{ webhook.status }}
            </span>
          </div>
          <div class="col-4 mt-4">Description</div>
          <div class="col-8 mt-4">
            {{ webhook.description }}
          </div>
          <div class="col-4 mt-4">Created At</div>
          <div class="col-8 mt-4">
            {{ webhook.createdAt | date }}
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
<p-toast></p-toast>
