<div class="container checkout">
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <p-card *ngIf="!error && !loading">
    <div class="content">
      <div class="row">
        <div class="col-md-6">
          <h2 class="pb-3">Payment Methods</h2>
          <div class="visa-list">
            <p-panel>
              <ng-template pTemplate="header">
                <div class="d-flex align-items-center">
                  <p-radioButton
                    [(ngModel)]="selectedPayment"
                    name="payment"
                    value="exist"
                  ></p-radioButton>
                  <i class="pi pi-credit-card ms-3 me-3"></i>
                  <p class="mb-0">Visa ****2447</p>
                </div>
              </ng-template>
            </p-panel>
          </div>
          <p-panel>
            <ng-template pTemplate="header">
              <div class="d-flex align-items-center">
                <p-radioButton
                  [(ngModel)]="selectedPayment"
                  name="payment"
                  value="new"
                ></p-radioButton>
                <i class="pi pi-credit-card ms-3 me-3"></i>
                <p class="mb-0">Credit/Debit Card</p>
              </div>
            </ng-template>

            <div class="card-form">
              <form>
                <div class="mt-2">
                  <label
                    ><strong>Card number</strong>
                    <span class="error"> * </span></label
                  >
                  <br />
                  <input
                    type="text"
                    pInputText
                    placeholder="0000 0000 0000 0000"
                    class="w-100"
                  />
                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label
                        ><strong>Expire date</strong>
                        <span class="error"> * </span></label
                      >
                      <br />
                      <p-calendar
                        view="month"
                        dateFormat="mm/yy"
                        inputId="monthpicker"
                        placeholder="MM/YY"
                      >
                      </p-calendar>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label
                        ><strong>CVV</strong>
                        <span class="error"> * </span></label
                      >
                      <br />
                      <input
                        type="text"
                        pInputText
                        placeholder="000"
                        class="w-100"
                      />
                    </div>
                  </div>
                </div>

                <div class="mt-2">
                  <label
                    ><strong>Name on card</strong>
                    <span class="error"> * </span></label
                  >
                  <br />
                  <input type="text" pInputText class="w-100" />
                </div>

                <div class="mt-5">
                  <div class="d-flex align-items-center">
                    <p-checkbox name="groupname" value="val1"></p-checkbox>
                    <p class="mb-0 ms-3">
                      Securely save this card for my later purchase
                    </p>
                  </div>
                </div>
                <div class="mt-3">
                  <button
                    class="w-100"
                    pButton
                    type="button"
                    label="{{
                      checkoutData.amountTotal | currency: checkoutData.currency
                    }}"
                  ></button>
                </div>
              </form>
            </div>
          </p-panel>
        </div>

        <div class="col-6" style="background-color: #fff">
          <div class="summary">
            <div class="d-flex justify-content-between p-2 align-items-center">
              <h2>Checkout</h2>
              <p-tag *ngIf="!checkoutData.liveMode" value="Test Mode"></p-tag>
            </div>

            <div class="order">
              <ul>
                <li class="item" *ngFor="let item of checkoutData.items">
                  <div class="d-flex justify-content-between">
                    <h6>
                      {{ item.name | titlecase }} <span class="main">(</span>
                      {{ item.quantity }}
                      <span class="main">)</span>
                    </h6>
                    <h6>{{ item.amount | currency: checkoutData.currency }}</h6>
                  </div>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-card>

  <div *ngIf="error && !loading" class="w-100">
    <app-error [msg]="error"></app-error>
  </div>
</div>
