<div class="container">
  <div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
      <h2>Pay with card</h2>
      <form>
        <div class="input-container mt-4">
          <label for="email">Email</label>
          <input id="email" type="text" pInputText />
        </div>
        <div>
          <span>Card information</span>
        </div>
        <div class="input-container mt-4">
          <label for="email">Card Inform</label>
          <input id="email" type="text" pInputText />
        </div>
      </form>
    </div>
  </div>
</div>
