<div class="container checkout">
  <div *ngIf="loading && !isPaymentSucceeded">
    <app-loading></app-loading>
  </div>

  <p-card>
    <div class="content" *ngIf="!error && !loading && !isPaymentSucceeded &&checkoutData">
      <div class="row">
        <div class="col-md-6">
          <h2 class="pb-3">Payment Methods</h2>
          <div class="visa-list">
            <p-panel>
              <ng-template pTemplate="header">
                <div class="d-flex align-items-center">
                  <p-radioButton [(ngModel)]="selectedPayment" name="payment" value="exist"></p-radioButton>
                  <i class="pi pi-credit-card ms-3 me-3"></i>
                  <p class="mb-0">Visa ****2447</p>
                </div>
              </ng-template>
            </p-panel>
          </div>
          <p-panel>
            <ng-template pTemplate="header">
              <div class="d-flex align-items-center">
                <p-radioButton [(ngModel)]="selectedPayment" name="payment" value="new"></p-radioButton>
                <i class="pi pi-credit-card ms-3 me-3"></i>
                <p class="mb-0">Credit/Debit Card</p>
              </div>
            </ng-template>

            <div class="card-form">
              <form [formGroup]="paymentForm" (ngSubmit)="submit()">
                <div class="mt-2">
                  <label><strong>Card number</strong>
                    <span class="error"> * </span></label>
                  <br />
                  <input formControlName="panNumber" type="text" pInputText placeholder="0000 0000 0000 0000"
                    class="w-100" maxlength="16" pattern="[0-9]*" />
                  <small class="error" *ngIf="panNumber?.errors && panNumber?.touched">
                    Please Enter a valid card number.
                  </small>

                </div>

                <div class="row">
                  <div class="col-6">
                    <div class="mt-2">
                      <label><strong>Expiry date</strong>
                        <span class="error"> * </span></label>
                      <br />

                      <input formControlName="expiryDate" type="text" pInputText placeholder="MM/YY" class="w-100"
                        maxlength="7" (keyup)="addSlash($event)" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="mt-2">
                      <label><strong>CVC</strong>
                        <span class="error"> * </span></label>
                      <br />
                      <input formControlName="CVC" type="text" pInputText placeholder="000" class="w-100"
                        maxlength="3" />
                      <small class="error" *ngIf="CVCCtrl?.errors && CVCCtrl?.touched">
                        Please Enter a valid CVC.
                      </small>
                    </div>
                  </div>
                </div>

                <div class="mt-2">
                  <label><strong>Name on card</strong>
                    <span class="error"> * </span></label>
                  <br />
                  <input formControlName="cardHoldName" type="text" pInputText class="w-100" />
                  <small class="error" *ngIf="cardHolderCtrl?.errors && cardHolderCtrl?.touched">
                    Please Enter the name on card
                  </small>
                </div>

                <div class="mt-5">
                  <div class="d-flex align-items-center">
                    <p-checkbox name="groupname" value="val1"></p-checkbox>
                    <p class="mb-0 ms-3">
                      Securely save this card for my later purchase
                    </p>
                  </div>
                </div>
                <div class="mt-3">
                  <button [loading]="payBtnLoading" [disabled]="!paymentForm.valid" class="w-100" pButton type="submit"
                    label="{{
                      checkoutData?.amountTotal | currency: checkoutData?.currency
                    }}"></button>
                </div>
              </form>
            </div>
          </p-panel>
        </div>

        <div class="col-6" style="background-color: #fff">
          <div class="summary">
            <div class="d-flex justify-content-between p-2 align-items-center">
              <h2>Checkout</h2>
              <p-tag *ngIf="!checkoutData?.liveMode" value="Test Mode"></p-tag>
            </div>

            <div class="order">
              <ul>
                <li class="item" *ngFor="let item of checkoutData?.items">
                  <div class="d-flex justify-content-between">
                    <div class="d-flex">
                      <div class="me-2" *ngIf="item?.image">
                        <p-avatar size="xlarge" [image]="item.image"></p-avatar>
                      </div>
                      <div>
                        <h6>
                          {{ item.name | titlecase }}
                          <span class="main">(</span>
                          {{ item.quantity }}
                          <span class="main">)</span>
                        </h6>
                        <p *ngIf="item.description">
                          {{ item.description }}
                        </p>
                      </div>
                    </div>
                    <h6>{{ item.amount | currency: checkoutData.currency }}</h6>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isPaymentSucceeded" class="text-center success">
      <img src="../../assets/images/success.png">
      <h1>Payment has been done successfully</h1>
      <p> Thank you for choosing HashCash</p>

    </div>
    <div *ngIf="error && !loading  || !loading&& !checkoutData" class="w-100">
      <app-error [msg]="error ||'service not available please try again later'"></app-error>
    </div>
  </p-card>


</div>



<p-toast></p-toast>
