p-button {
  padding: 0px;
}
.expired {
  padding: 10px;
  color: #c3002f;
  background: rgba(255, 190, 190, 0.8);
  font-weight: 700;
  font-size: 14px;
}

.valid {
  padding: 7px 11px;
  color: #557847;
  background-color: #d3ebd4;
  border: 10px;
  font-weight: 700;
  font-size: 14px;
}
.copy {
  padding: 6px 10px;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
