<div class="container profile">
  <p-card>
    <div class="loading" *ngIf="loading">
      <app-comp-loading></app-comp-loading>
    </div>
    <div *ngIf="!loading && user">
      <h2 class="heading">Profile</h2>
      <p-divider></p-divider>
      <div class="row mt-5">
        <div class="col-4 mt-4">Email</div>
        <div class="col-8 mt-4">{{ user.email }}</div>
        <div class="col-4 mt-4">name</div>
        <div class="col-8 mt-4">{{ user.name }}</div>
        <div class="col-4 mt-4">password</div>
        <div class="col-8 mt-4">••••••••</div>
      </div>
      <p-divider></p-divider>
      <div class="mt-5">
        <h4 class="heading">Two-step authentication</h4>
        <p>
          Increase security for your account by using multiple authentication
          steps.
        </p>
        <div class="d-flex justify-content-between">
          <div class="d-flex align-items-center">
            <p-checkbox
              [(ngModel)]="user.twoWayAuth"
              [binary]="true"
            ></p-checkbox>
            <label class="ms-2">Enable two step authentication</label>
          </div>
          <p-button
            label="save"
            [loading]="twoFactorLoading"
            (click)="enableFactorAuth()"
          ></p-button>
        </div>
      </div>

      <p-divider></p-divider>

      <div class="mt-5">
        <h4 class="heading">Login sessions</h4>
        <div class="d-flex justify-content-between">
          <p>Places where you're logged into Hashcash.</p>
          <div>
            <button
              style="font-size: 14px; padding: 9px"
              pButton
              pRipple
              type="button"
              label="Logout all other sessions"
              class="p-button-raised p-button-text"
              (click)="logoutOtherSessions()"
              [loading]="logoutSessionLoading"
            ></button>
          </div>
        </div>
        <div class="mt-4">
          <p-table [value]="sessions" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Device</th>
                <th>IP Address</th>
                <th>Time</th>
                <th>Status</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-session>
              <tr>
                <td>
                  {{ session.device | titlecase }}
                  -
                  {{ session.browser | titlecase }}
                </td>
                <td>{{ session.ip }}</td>
                <td>{{ formatTime(session.createdAt) }}</td>
                <td>
                  <span class="expired" *ngIf="session.expired">Expired</span>
                  <span class="valid" *ngIf="!session.expired"
                    >Valid Session
                  </span>
                </td>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td style="text-align: center" [attr.colspan]="4">
                  No sessions found
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </p-card>
</div>
