<div class="container profile mb-4">
  <p-card>
    <h1>Activate your account</h1>
    <p>Please Enter the required information to activate your account</p>
    <form [formGroup]="activateCtrl" (ngSubmit)="submit()">
      <p-divider align="center">
        <span class="p-tag">Business Information</span>
      </p-divider>
      <!-- Business information -->
      <ng-container formGroupName="businessInfo">
        <div class="row">
          <div class="mt-3 col-md-6">
            <label
              ><strong>Legal Name </strong> <span class="error">*</span></label
            >
            <div class="mt-2">
              <input
                formControlName="legalName"
                class="w-100"
                type="text"
                pInputText
              />
              <small
                *ngIf="legalNameCtrl.errors && legalNameCtrl.errors['API']"
                class="p-2"
                class="error"
                >{{ legalNameCtrl.errors["API"] }}</small
              >
            </div>
          </div>
          <div class="mt-3 col-md-6">
            <label
              ><strong>Registration Number </strong>
              <span class="error">*</span></label
            >
            <div class="mt-2">
              <input
                formControlName="registrationNumber"
                class="w-100"
                type="text"
                pInputText
              />
              <small
                *ngIf="
                  registrationNumberCtrl.errors &&
                  registrationNumberCtrl.errors['API']
                "
                class="p-2"
                class="error"
                >{{ registrationNumberCtrl.errors["API"] }}</small
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mt-3 col-md-6">
            <label
              ><strong>Business type </strong>
              <span class="error">*</span></label
            >
            <div class="mt-2">
              <p-dropdown
                formControlName="type"
                [options]="types"
                optionLabel="name"
                optionValue="value"
              ></p-dropdown>
              <small
                *ngIf="typeCtrl.errors && typeCtrl.errors['API']"
                class="p-2"
                class="error"
                >{{ typeCtrl.errors["API"] }}</small
              >
            </div>
          </div>
          <div class="mt-3 col-md-6">
            <label
              ><strong>Industry type </strong>
              <span class="error">*</span></label
            >
            <div class="mt-2">
              <p-dropdown
                formControlName="industry"
                [options]="industries"
                optionLabel="name"
                optionValue="value"
              ></p-dropdown>
              <small
                *ngIf="industryCtrl.errors && industryCtrl.errors['API']"
                class="p-2"
                class="error"
                >{{ industryCtrl.errors["API"] }}</small
              >
            </div>
          </div>
        </div>

        <div class="row">
          <div class="mt-3 col-md-6">
            <label
              ><strong>Website </strong> <span class="error">*</span></label
            >
            <div class="mt-2">
              <input
                formControlName="website"
                class="w-100"
                type="text"
                pInputText
              />
              <small
                *ngIf="websiteCtrl.errors && websiteCtrl.errors['API']"
                class="p-2"
                class="error"
                >{{ websiteCtrl.errors["API"] }}</small
              >
            </div>
          </div>
          <div class="mt-3 col-md-6">
            <label
              ><strong>Address </strong> <span class="error">*</span></label
            >
            <div class="mt-2">
              <textarea
                formControlName="address"
                pInputTextarea
                class="w-100"
                [rows]="1"
              ></textarea>
              <small
                *ngIf="addressCtrl.errors && addressCtrl.errors['API']"
                class="p-2"
                class="error"
                >{{ addressCtrl.errors["API"] }}</small
              >
            </div>
          </div>
          <div class="mt-3 col-md-12">
            <label
              ><strong>Product Description </strong>
              <span class="error">*</span></label
            >
            <div class="mt-2">
              <textarea
                formControlName="productDescription"
                pInputTextarea
                class="w-100"
              ></textarea>
              <small
                *ngIf="descriptionCtrl.errors && descriptionCtrl.errors['API']"
                class="p-2"
                class="error"
                >{{ descriptionCtrl.errors["API"] }}</small
              >
            </div>
          </div>
        </div>
      </ng-container>

      <!-- business owner -->
      <p-divider align="center">
        <span class="p-tag">Business Owner Information</span>
      </p-divider>
      <ng-container formGroupName="businessOwner">
        <div class="row">
          <div class="mt-3 col-md-6">
            <label
              ><strong>First Name </strong> <span class="error">*</span></label
            >
            <div class="mt-2">
              <input
                formControlName="firstName"
                class="w-100"
                type="text"
                pInputText
              />
            </div>
          </div>
          <div class="mt-3 col-md-6">
            <label
              ><strong>Last Name </strong> <span class="error">*</span></label
            >
            <div class="mt-2">
              <input
                formControlName="lastName"
                class="w-100"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mt-3 col-md-6">
            <label><strong>Email </strong> <span class="error">*</span></label>
            <div class="mt-2">
              <input
                formControlName="email"
                class="w-100"
                type="text"
                pInputText
              />
            </div>
          </div>
          <div class="mt-3 col-md-6">
            <label
              ><strong>Phone Number </strong>
              <span class="error">*</span></label
            >
            <div class="mt-2">
              <input
                formControlName="phone"
                class="w-100"
                type="text"
                pInputText
              />
            </div>
          </div>
          <div class="mt-3 col-md-6">
            <label
              ><strong>National ID </strong> <span class="error">*</span></label
            >
            <div class="mt-2">
              <input
                formControlName="nationalId"
                class="w-100"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
      </ng-container>
      <p-divider align="center">
        <span class="p-tag">Bank Account</span>
      </p-divider>

      <ng-container formGroupName="bankAccount">
        <div class="row">
          <div class="mt-3 col-md-6">
            <label><strong>IBAN </strong> <span class="error">*</span></label>
            <div class="mt-2">
              <input
                formControlName="IBAN"
                class="w-100"
                type="text"
                pInputText
              />
            </div>
          </div>
        </div>
      </ng-container>

      <div class="mt-4 d-flex justify-content-end">
        <button type="submit" pButton label="Activate Account"></button>
      </div>
    </form>
  </p-card>
</div>
