<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex align-items-center img-container d-none d-lg-flex">
      <img class="img-fluid" src="../../assets/images/otp.png" />
    </div>
    <div class="col-lg-6 content-container">
      <div class="card">
        <h1>Authentication Code</h1>
        <p>An OTP is sent to your Email, it's only valid for 10 minutes</p>
        <div class="btn-container">
          <code-input [isCodeHidden]="false" [codeLength]="5" (codeCompleted)="codeCompletedHandler($event)">
          </code-input>
          <button [disabled]="disabled" pButton (click)="verifyEmail()" type="button" label="Verify"
            class="w-100 mt-4"></button>
        </div>
        <div class="resend-otp">
          <p class="mt-2">
            Didn't receive an otp?
            <span (click)="resendOtp()">Resend OTP </span>
          </p>
        </div>
        <div>
          <button style="font-size:14px ;" [icon]="'pi pi-arrow-left'" pButton pRipple type="button"
            label="Go Back To Sign up" class="p-button-text" (click)="goBackToSignUp()"></button>
        </div>
      </div>
    </div>
  </div>
</div>

<p-toast></p-toast>
