.container {
  min-height: 100vh;
}
.logo-container {
  margin-bottom: 20px;
  text-align: center;
}
.contnet {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.logo-container img {
  width: 100px;
}
.card {
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card p {
  font-size: 14px;
  color: gray;
}

.input-container {
  display: flex;
  flex-direction: column;
}
.input-container input {
  border-radius: 5px;
  padding: 5px;
}
.input-container label {
  font-weight: 600;
  font-size: 14px;
}
.sign-in {
  text-align: center;
}
.sign-in a {
  color: var(--primary-color);
}
